# .env file
# reason why this is here
# https://github.com/joke2k/django-environ/issues/76

# Django settings
SECRET_KEY=secrete_key
DEBUG=True
ALLOWED_HOSTS=localhost, 127.0.0.1
CORS_ALLOW_ALL_ORIGINS=true
PAGE_SIZE=10
ACCESS_TOKEN_LIFETIME_DAYS=10



# Database settings
DATABASE_URL=sqlite:///db.sqlite3
# DB_ENGINE=django.db.backends.postgresql
# DB_NAME=your_db_name
# DB_USER=your_db_user
# DB_PASSWORD=your_db_password
# DB_HOST=localhost
# DB_PORT=5432

# SQLITE_URL=sqlite:///db.sqlite3

# Email settings
EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST=smtp.your_email_provider.com
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_HOST_USER=your_email@example.com
EMAIL_HOST_PASSWORD=your_email_password
SEND_ACTIVATION_EMAIL=true

# Other settings
TIME_ZONE=UTC
LANGUAGE_CODE=en-us
STATIC_URL=/static/
MEDIA_URL=/media/

